.about-page {
   width: 100%;
   min-height:100vh ;
   display: flex;
   flex-direction: column;
   padding:100px 80px 0;
   // background-color: $clr-bg-1;


   .selection {
      height: 55px;
      padding-top: 15px;


      .items {
         list-style: none;
         display: flex;
         flex-direction: row;
         justify-content: center;


         .item {
            padding: 10px 20px;
            margin: 10px 10px;
            cursor: pointer;
            color: #ddd;
            border-radius: 15px;
            

            &:hover
             {
               background-color: crimson;

            }
         }
         .active{
            background-color:crimson;
         }

      }
   }

   .about-container {
      flex-basis: 78%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // background-color: #7c3838;
      margin-top: 30px;
      animation: fadeUp 0.5s ease-out;


      .heading {
         height: fit-content;
         width: 100%;
         border-left: solid 6px crimson;
         font-size: 20px;
         font-weight: bold;
         color: #ddd;
         text-transform: uppercase;
         padding: 10px 10px;
         background-color: rgba($color: black, $alpha: .2);



      }

      .container {
         width: 100%;
         margin-top: 20px;
         font-size: 18px;
         color: #ddd;
         text-align: justify;

         .about-us {
            width: 100%;
            display: flex;
            flex-direction: column;


            .about-sec {
               width: 100%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;

               .content {
                  flex-basis: 60%;
                  color: #777777;
               }

               .image {

                  width:600px;
                  height: 400px;
                  background-color: rgba($color: black, $alpha: .2);
                  margin-left: 20px;
               }

            }

            .vision,
            .mission,
            .quality-policy {
               margin: 30px 0px;
               display: flex;
               flex-direction: column;
           

               .sub-title{
                  width: 100%;
                  background-color: rgba($color: black, $alpha: .2);
                  font-size: 18px;
                  font-weight: bold;
                  text-transform: uppercase;
                  padding: 10px 10px;
                  border-left: solid 6px rgb(46, 46, 88);

               }

               .content {
                  margin-top: 20px;
                  padding: 10px 0px;
                  color: #777777;

               }
            }

         }

         .msg-sec {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .content {
               flex-basis: 100%;
               color: #777777;
            }

            .image {

               width: 200px;
               height: 200px;
               background-color: rgba($color: black, $alpha: .2);
               margin-right: 20px;
            }
         }
         .info-sec {
            width: 100%;
            display: flex;
            flex-direction: column;
            min-height: fit-content;
            

            .info {
               width: 100%;
               display: flex;
               flex-direction:column;
               margin: 10px 0px;
            
               .title{
               font-size: 16px;
               font-weight: bold;
               color: #ddd;
               margin-bottom: 10px;
               
               }
               .content{
                  font-size: 14px;
                  color: #777777;
                  text-wrap: wrap;
               }
               ul{
                  list-style: none;
                  font-size: 14px;
                  color: #777777;
               }
                 
               }
            }

          
         }

      }


   }
