.contact-form-container {
    width: 100%;
    overflow: hidden;

    form {
        display: flex;
        flex-direction: column;

        .top-line {
            display: flex;
            flex-direction: row;
            column-gap: 20px;

            .label-01 {
                flex-basis: 50%;
                margin-bottom: 15px;
            }
        }

        input {

            background-color: rgba($color: white, $alpha: .2);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            min-height: 40px;
            margin-bottom: 15px;
            color: #fff;
            font-size: 16px;

            &:focus {
                border-style: solid;
                border-color: rgb(55, 48, 156);
                outline: 20px;
            }

            &::placeholder {
                font-size: 16px;
                color: #969292;
            }
        }

        textarea {
            background-color: rgba($color: white, $alpha: .2);
            width: auto;
            padding: 8px;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            border-radius: 4px;
            min-height: 200px;
            resize: vertical;
            color: #fff;
            font-size: 16px;

            &:focus {
                border-style: solid;
                border-color: rgb(55, 48, 156);
                outline: 20px;
            }

            &::placeholder {
                color: #969292;
                font-size: 16px;
            }
        }

        button {
            min-width: 175px;
            background-color: transparent;
            color: #fff;
            padding: 10px;
            border: none;
            font-size: 20px;
            border: 1px solid whitesmoke;
            border-radius: 4px;
            cursor: pointer;
            margin:auto;
    
            &:hover {
                background-color: crimson;
            }
        }
    }

}